@{
    ViewData["Title"] = "Inicio";
}

<h2>Bienvenido</h2>
<article>
    <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
        voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima 
        veniam, quis nostrum exercitationem ullam corporis suscipit         
    </p>
</article>

<h3>Visión</h3>
<article>
    <p>
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui 
        dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis 
        praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint         
    </p>
</article>

<h3>Misión</h3>
<article>
    <p>
        One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. 
        He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided 
        by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many 
        legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" 
        he thought. It wasn't a dream. His room, a proper human        
    </p>
</article>