
<h1>Modulo de Consultas</h1>

<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <ul>
            <li><a asp-controller="ConsultaSaldos" asp-action="Index">Consulta de Saldos</a></li>
        </ul>
    </div>
</div>


