@model IntegracionBancaria.Domain.Perfil

@{
    Layout = "../Shared/Layout-Sesion";
}

<h2>Bienvenido @Model.Nombres!</h2>

<p>Puede empezar con cualquier opcion</p>

<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <p><a asp-controller="AgregarBanco" asp-action="Index">Agregar banco</a></p>
    </div>
</div>
