@{
    Layout = "../Shared/Layout-Sesion";
}

<h2>Modulo de Consultas</h2>

<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <p><a asp-controller="Consultas" asp-action="Saldos">Consulta de Saldos</a></p>
        <p><a asp-controller="Consultas" asp-action="EstadoCuenta">Estado de Cuenta</a></p>
        <p><a asp-controller="Consultas" asp-action="SaldoTarjetas">Saldos Tarjeta de Credito</a></p>
    </div>
</div>
