@model IntegracionBancaria.Model.Views.PagoViewModel

@{
    Layout = "../Shared/Layout-Sesion";
}


<h2>Autorización</h2>

<div class="row">
    <h2>@Model.Autorizacion</h2>
</div>

<a asp-area="" class="btn btn-info" asp-controller="Inicio" asp-action="Pagos">Aceptar</a>
