@model IntegracionBancaria.Model.Views.PagoViewModel

<h1>Autorización</h1>

<div class="row">
    <h2>@Model.Autorizacion</h2>
</div>

<a asp-area="" class="btn btn-info" asp-controller="Inicio" asp-action="Pagos">Aceptar</a>
